# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/adminDist
/.next
/out

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.cache
yarn.lock

# IDE
/.idea
/.vscode

# i18n locales
# /src/i18n/locales
